<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/statis/style.css">
    </head>
    <body>

        <div class="container">
            <h2>login</h2>

            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">

            <button onclick="login()">login</button>
        </div>

        <script>
        async function login() {
            const res = await fetch('/login',{
                method: 'POST',
                headers: {'content-type': 'application/json' },
                body: JSON.stringify({
                    email: document.getElementById('email').value,
                    password: document.getElementById('password').value,
                })
            });

            if (res.ok) {
                alert("login successfull");
                window.location.href= "/"
            }else {
                alert("Invalid creadentials");
            }
        }
    </script>
    </body>
    </html>